.barbg{
    background-color: aqua;
    /* color: rgb(88, 11, 4); */
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.btn-buy-now{
    
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #FF136F;
        color: #efeded;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      
      
}
.btnbuy:hover{
    background-color: chartreuse;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: rgb(223, 56, 5);
}
.cat3{
    background-color: rgb(11, 231, 234);
}
.cat1,.cat2,.cat3{
    padding: 5px 25px;
    border-radius: 15px;
}

.categories h1{
    color: white;

}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    border-top: none!important;
    background-color: white;
}

#subscribe{
    height: 250px;
}
#subscribe h6{
    color: rgb(70, 3, 13);
}
footer{
    text-align: center;
}
body{
    margin: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  position: absolute;
  top: 50%; /* Set the vertical position of the controls to the center of the container */
  transform: translateY(-50%); /* Use the "translateY" function to adjust the vertical position of the controls based on their height */
}

.carousel-control-prev {
  left: 0; /* Set the horizontal position of the "Previous" control to the left edge of the container */
}

.carousel-control-next {
  right: 0; /* Set the horizontal position of the "Next" control to the right edge of the container */
}
.carousel-container {
    position: relative;
    /* Set the position property of the container to "relative" so that the position of the controls can be adjusted relative to the container */
  }

  .carousel-indicators [data-bs-target] {
    background-color: black!important;
  }  